.orders-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom: 20px;
    padding: 10px;
}

.order-display{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-type{
    color: var(--colorSecondaryAccent);
    font-size: 2em;
    background-color: var(--colorAccent);
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}