.card {
    outline: 2px solid var(--colorAccent);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--colorSecondaryAccent);
    height: fit-content;
    width: auto;
    width: 300px;
}


.card-img {
    min-height: 100px;
    aspect-ratio: 16/9;
}

.img {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    padding: 5px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.info {
    line-height: 2rem;
    background-color: var(--colorSecondaryAccent);
    color: var(--colorAccent);
    padding-inline: 10px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-description {
    font-weight: 100;
    font-size: 0.9rem;
}

.cart-add-remove {
    line-height: 2rem;
    background-color: var(--colorAccent);
    color: var(--colorSecondaryAccent);
    padding: 10px;
    border-radius: 5px;
}

.in-cart {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    flex-wrap: wrap;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    overflow-y: scroll;
}

.no-scroll {
    overflow: hidden;
}

.order-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 10px;
    border: 2px solid var(--colorAccent);
    width: fit-content;
    background-color: var(--colorSecondaryAccent);
    color: var(--colorAccent);
    font-size: 1.3em;
    font-weight: 100;
}
.payment-info{
    font-size: .7em;
    font-weight: normal;
    background-color: var(--colorAccent);
    color:rgb(0, 161, 48);
    padding: 5px;
}

.close {
    width: 80px;
    text-align: center;
    position: relative;
    left: 85%;
    font-size: 4em;
    z-index:-1;
    cursor:pointer;
}

.modal-title {
    color: var(--colorAccent);
    text-align: center;
    font-size: 1.5em;
    background-color: var(--colorSecondary);
}
.order-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media screen and (max-width : 650px) {
    .card {
        width: 100%;
        margin-inline: 20px;
    }
    .close{
        left:75%;
    }
}
